@model AccountEditorViewModel
@{
    ViewBag.Title = "Edit User Account";
}
<form method="post" asp-action="Edit" asp-route-id="@Model.UserName" asp-antiforgery="true" class="form-horizontal">
<div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="UserName" />
    <div class="form-group mt-2">
        <label class="control-label" asp-for="AccountType">Account Type:</label>
        <select asp-for="AccountType" asp-items="Html.GetEnumSelectList<AccountType>()" class="form-control"></select>
    </div>

    <div class="form-group mt-2">
        <label class="control-label" asp-for="Name">Name:</label>
        <input class="form-control" asp-for="Name" />
    </div>


    <div class="form-group">
        <label asp-for="SchoolID" class="control-label"></label>
        <select asp-for="SchoolID" class="form-control" asp-items="ViewBag.SchoolID"></select>
    </div>

    <div class="form-group mt-2">
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>